<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
    </head>
    <body>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Modal</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addBookForm" name="addBookForm" ng-submit="ok()">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="title">Title</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="title" ng-model="book.title" ng-minlength="1" placeholder="Title" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="author">Author</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="author" ng-model="book.author" ng-minlength="1" placeholder="Author" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="genre">Genre</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="genre" ng-model="book.genre" placeholder="Genre"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="year">Year</label>
                        <div class='col-md-3 input-group date' id='datetimepicker1' name="date" ng-model="book.year">
                            <input type='text' class="form-control" id="year" ng-model="book.year"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <script type="text/javascript">
                                $(function() {
                                    $('#datetimepicker1').datetimepicker({viewMode: 'years', format: 'YYYY'});
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button class="btn btn-primary" ng-disabled="addBookForm.$invalid" data-ng-click="ok()">OK</button>
                    <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </body>
    </html>
